@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cardPost-img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.Post-img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}
